@import url('https://fonts.googleapis.com/css?family=Tangerine');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tangerine', serif;
	/*font-size: 40px;*/
	text-shadow: 4px 4px 4px #aaa;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #f9f9f5;
}

/*=================== container ================*/
.container {
	width: 850px;
	background: #fff;
	border-radius: 10px;
	padding: 30px 35px 35px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container h2{
	font-size: 40px;
}

.container .wrapper {
	display: flex;
	margin: 20px 0;
	min-height: 335px;
}

.wrapper .editor-panel {
	width: 280px;
	padding: 15px 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.editor-panel .title {
	display: block;
	font-size: 35px;
	margin-bottom: 12px;
}

.editor-panel .options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.editor-panel button {
	height: 30px;
	font-size: 20px;
	color: #222;
	margin-bottom: 4px;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #aaa;
}

.editor-panel button:hover {
	background: #f5f5f5;
}
.editor-panel .filter button{
	width: calc(100% / 2 - 4px);
}

.filter button.active{
	color: #fff;
	background: #5372f0;
	border-color: #5372f0;
}
/*=================== //container ================*/